@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: "Urbanist", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;

   color: rgba(0, 0, 0, 1);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   letter-spacing: 1px;
}








@media screen and (max-width: 767px) {
   .productCarousel.carousel-root {
      flex-direction: column;
   }
   .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
   }
}
@media screen and (min-width: 768px) {
   .productCarousel.carousel-root .carousel .thumbs {
      transform: none !important;
      flex-direction: column;
      display: flex;
      gap: 10px;
   }
   .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
      margin: 0;
   }
}

.markdown ul {
   margin: 0;
   padding: 0;
   list-style-type: disc;
   margin: 20px 0;
}
.markdown ul li {
   margin: 10px 0;
}
